<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <container>

    <register type="SAPOC.Repository.Context.ProductDbContext,SAPOC.Repository" mapTo="SAPOC.Repository.Context.ProductDbContext,SAPOC.Repository"  >
      <constructor>
        <param name="connectionStringOrName"  value="SAPOCConnection" type="string"  />
      </constructor>

    </register>
    <register type="SAPOC.Repository.Common.IRepository,SAPOC.Repository.Common" mapTo="SAPOC.Repository.ProductRepository,SAPOC.Repository" name="SAPOC.Repository.Interface"  >
      <constructor>
        <param name="productDbContext" type="SAPOC.Repository.Context.ProductDbContext,SAPOC.Repository">
        </param>
      </constructor>
    </register>

   
    <register type="SAPOC.Contract.IProductService,SAPOC.Contract" mapTo="SAPOC.Product.Provider.ProductService,SAPOC.Product.Provider" >
      <property name="repository" dependencyName="SAPOC.Repository.Interface" >
      </property>

    </register>


  </container>
</unity>